<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Petshop Boys</a>>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="login"
          >Login</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="pets/allpets">Pets</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="cart"
          >🛒</a>
      </li>
      <li>
        <a class="nav-link" routerLink="login" (click)="logout()"
          >Logout</a>
      </li>
    </ul>
  </div>
</nav>
